@import "variables.css";

body{
  color: var(--body-color);
  font-size: 0.9rem;
  line-height: 1.65rem;
  font-family: var(--font-family-sans-serif);
}


h1, h2, h3, h4, h5, h6{
  font-family: var(--font-family-monospace);
  color: var(--heading-color);
}
a{
  color: var(--primary);
}
a:hover:not(.btn){
  text-decoration: none;
}
.lead{
  line-height: 1.65;
}
.small, small{
  font-size: 90%;
}
.card, .mc-promo-login, .mc-promo-manage{
  border-color: var(--border-color);
}
.form-control{
  padding: 0.75rem 1rem;
  height: auto;
  font-size: 14px;
  border-color: var(--border-color);
}
.badge{
  font-family: var(--font-family-monospace);
  padding: 0.35rem 0.5rem;
  font-weight: 400;
}
input::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
  font-size:14px;
}
input:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
  font-size:14px;
}
input::-moz-placeholder{ /* Mozilla Firefox 19+ */
  font-size:14px;
}
input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
  font-size:14px;
}

/*helper class*/
.ptb-100{
  padding: 100px 0 !important;
}
.ptb-60{
  padding: 60px 0 !important;
}
.pt-60{
  padding-top: 60px;
}
.pb-60{
  padding-bottom: 60px;
}
.ptb-40{
  padding: 40px 0 !important;
}
.pt-100{
  padding-top: 100px;
}
.pb-100{
  padding-bottom: 100px;
}
.mt-n-50{
  margin-top: -50px;
}
.mb-n-50{
  margin-bottom: -50px;
}
.tt-rounded{
  border-radius: var(--custom-radius) !important;
}
.bg-primary{
  background-color: var(--primary)!important;
}
.bg-accent{
  background-color: var(--primary-dark)!important;
}
.bg-gradient{
  background: linear-gradient(279.3deg, var(--primary-dark) 30.98%, var(--primary-darker) 70.6%);
}
.bg-dark{
  background-color: var(--primary-darker) !important;
}

.bg-primary-light{
  background-color: var(--primary-light);
}
.bg-danger-light{
  background-color: var(--danger-light);
}
.bg-success-light{
  background-color: var(--success-light);
}
.bg-gray-light{
  background-color: var(--gray-light);
}
.tt-custom-radius{
  border-radius: var(--custom-radius);
}
.tt-custom-radius-bottom{
  border-bottom-right-radius: var(--custom-radius);
  border-bottom-left-radius: var(--custom-radius);
}
.row-equal-height{
  display: flex;
  flex-wrap: wrap;
}
.row-equal-height>div[class*=col-] {
  display: flex;
}
.row-equal-height>div[class*=col-]>* {
  width: 100%;
}

.text-primary{
  color: var(--primary) !important;
}
/*button css*/
.btn{
  font-size: 14px;
  padding: 0.75rem 1.75rem;
  font-family: var(--font-family-monospace);
}
.btn:focus, .btn:active{
  outline: none !important;
  box-shadow: none !important;
}
.btn.btn-sm{
  padding: 0.25rem 0.75rem;
  font-size: .875rem;
}
.btn-default{
  border-color: var(--border-color);
}
.btn-default:hover{
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}
.btn-default:active:focus{
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled{
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background-color: var(--primary-dark)!important;
  border-color: var(--primary-dark)!important;
}

.mc-promo-login .panel-heading .primary-content h3,
.mc-promo-manage .panel-heading .primary-content h3,
.primary-content .card-title, .primary-content .mc-promo-login .panel-heading h3,
.primary-content .mc-promo-manage .panel-heading h3,
.primary-content .promo-container .header h3,
.promo-container .header .primary-content h3{
  font-size: 18px;
  margin: 0 0 15px 0;
}

/*header css*/
.tt-header .logo-img{
  position: relative;
  top: -2px;
}
.tt-header:not(.tt-double-header){
  padding: 0.75rem 0;
  transition: all 0.3s ease-in-out;
}
.dropdown-menu{
  min-width: 15rem;
}
.dropdown-toggle::after{
  vertical-align: middle;
}
.affix{
  transition: all 0.3s ease-in-out;
  animation: 300ms ease-in-out fadeInDown;
}
.tt-header.affix{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s ease-in-out;
}
.tt-header:not(.tt-double-header).affix{
  padding: 0.25rem 0;
}
.tt-header .tt-main-header ul li a{
  font-size: 14px;
  font-family: var(--font-family-monospace);
  color: var(--body-color);
  position: relative;
}
.tt-header .tt-main-header ul li a.pr-4{
  padding-right: 1rem;
}
.tt-header .tt-main-header ul li a:hover{
  color: var(--primary);
}
.tt-main-header #Primary_Navbar-Store .dropdown-menu.show{
  padding: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  width: 550px;
}
.tt-main-header #Primary_Navbar-Store .dropdown-menu.show li{
  flex: 0 0 50%;
  max-width: 50%;
  transition: all 0.3s ease-in-out;
}
.tt-main-header .dropdown-menu{
  border: 1px solid var(--border-color);
  box-shadow: 4px 10px 9px 3px rgba(0, 0, 0, 0.06);
  top: 35px;
  border-radius: var(--custom-radius);
}
.tt-main-header li.dropdown-item:hover,
.tt-main-header li a:hover, .tt-main-header li.dropdown-item a:active, .tt-main-header li.dropdown-item a:focus{
  background-color: transparent;
}
.tt-main-header li.dropdown-item{
  padding: 0.25rem 1rem;
}
.tt-main-header #Primary_Navbar-Store .dropdown-menu li a{
  position: relative;
  display: inline-block;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.tt-main-header #Primary_Navbar-Store .dropdown-menu li a:before{
  position: absolute;
  content: "\f101";
  font-family: "Font Awesome 5 Pro";
  left: -10px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.tt-main-header #Primary_Navbar-Store .dropdown-menu li a:hover{
  margin-left: 8px;
}
.tt-main-header #Primary_Navbar-Store .dropdown-menu li a:hover:before{
  opacity: 1;
}


.tt-secondary-list li.tt-nav-item{
  padding-right: 1rem;
}
.tt-notification button{
  position: relative;
  border: none;
  padding: 0;
  background: transparent;
}
.tt-notification button:focus{
  box-shadow: none;
  outline: none;
}
.tt-notification .tt-circle{
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  transform: scale(1);
  background-color: var(--danger);
  animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.popover-user-notifications{
  padding: 0;
  border-color: var(--border-color);
  border-radius: var(--custom-radius);
  min-width: 250px;
  z-index: 9999;
  max-width: 270px;
}
.popover-user-notifications ul li{
  padding: 0;
}
.popover-user-notifications ul li a{
  transition: all 0.3s ease-in-out;
}
.popover-user-notifications ul li a:hover{
  background-color: transparent;
}
.popover-user-notifications ul li.none{
  font-weight: normal;
}
.select-account{
  margin: 0;
}
.select-account a, .select-account{
  border: none;
  padding: 0;
}
.select-account a:hover{
  background: transparent;
}

#payMethodList tbody tr td:first-of-type i{
  color: var(--primary);
  font-size: 22px;
  line-height: inherit;
}

.tt-body-wrapper .overlay {
  display: none;
  cursor: pointer;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.tt-body-wrapper.active{
  overflow-y: hidden;
}
header.header.tt-double-header .main-navbar-wrapper .navbar-collapse{
  padding: 0.75rem 0;
}

.tt-country-flag{
  width: 16px;
  vertical-align: middle;
  margin-right: 2px;
}
#currency-dropdown a span{
  font-size: 12px;
}
#currency-dropdown .dropdown-menu{
  padding: 4px 0;
  min-width: 65px;
  border-radius: 4px;
}
#currency-dropdown .dropdown-menu a{
  padding: 5px 12px;
}
#currency-dropdown .dropdown-menu a span{
  font-size: 14px;
  margin: 0 5px;
}
/*offcanvas menu*/
@media (min-width: 320px) and (max-width: 1199px){
  .offcanvas-collapse {
    position: fixed;
    top: 0; /* Height of navbar */
    bottom: 0;
    left: 0;
    right: auto;
    width: 280px;
    z-index: 999;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-light);
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s ease-in-out;
    transform: translateX(-150%);
    align-items: baseline;
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 9999;
    display: block;
  }
  .tt-header .tt-main-header .navbar-collapse{
    padding: 0.75rem 1.75rem !important;
  }
  .tt-main-header .dropdown-menu{
    box-shadow: none;
  }
  .tt-main-header .dropdown-item{
    padding: 0 0.5rem;
  }
  .tt-header .tt-main-header:not(.tt-toolbar-wrap) ul li a{
    display: block;
    padding: 0.25rem 0;
    padding-right: 0 !important;
  }
  .offcanvas-collapse #mainNavbar{
    padding: 20px !important;
  }
  .tt-main-header #Primary_Navbar-Store .dropdown-menu.show{
    width: auto;
  }
  .tt-main-header #Primary_Navbar-Store .dropdown-menu li{
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

@media (min-width: 320px) and (max-width: 400px){
  .navbar-brand:not(.tt-double-header .navbar-brand):not(#registration .navbar-brand){
    width: 100%;
    display: block;
    text-align: center;
  }
  .tt-toolbar-wrap:not(.tt-double-header .tt-toolbar-wrap){
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tt-double-header .tt-toolbar-wrap{
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 579px){
  .tt-header .container{
    padding-left: 0;
    padding-right: 0;
  }

}

/*custom navbar*/
.tt-custom-navbar li a:not(.btn){
  font-size: 14px;
  color: var(--body-color) !important;
  padding: 0.25rem 0.75rem;
  font-family: var(--font-family-monospace);
}
.tt-custom-navbar a.btn{
  color: inherit !important;
}
.tt-custom-navbar .dropdown-menu {
  right: auto;
  left: 50% !important;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.05);
}
.tt-dropdown-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background:  var(--white);
  border-top: 2px solid var(--primary);
}
.tt-dropdown-grid.tt-half-width {
  grid-template-columns: 1fr;
  width: 320px;
}
.tt-dropdown-grid.tt-custom-width{
  min-width: 320px;
}
.tt-dropdown-grid.tt-half-width {
  grid-template-columns: 1fr 1fr;
  width: 580px;
}
.tt-full-width {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
}
.tt-full-width .tt-dropdown-grid-item {
  width: 300px;
}
.tt-dropdown-grid-item {
  width: auto;
  padding: 20px 10px 20px 10px;
}
.tt-full-width .tt-dropdown-grid-item.tt-last-item {
  display: flex;
  flex-direction: column;
  width: auto;
  grid-column-start: span 2;
}

.tt-custom-navbar li.nav-item:hover .dropdown-menu:before {
  opacity: 1;
}

.tt-custom-navbar li.nav-item .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, 0) rotate(-315deg);
  transform: translate(-50%, 0) rotate(-315deg);
  border-radius: 3px;
  background-color: var(--primary);
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: -1;
}
.tt-cart-badge{
  position: absolute;
  left: 15px;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: var(--danger);
  color: var(--white);
  font-size: 11px;
  font-family: var(--font-family-monospace);
}
.tt-toolbar-wrap .toolbar li a.cart-btn,
.tt-toolbar-wrap .toolbar li button.btn{
  position: relative;
  font-size: 16px;
  padding: 0 0.25rem;
  line-height: inherit;
  border: none;
  overflow: visible;
  color: var(--body-color);
}
.tt-toolbar-wrap li .dropdown-menu{
  position: absolute;
}
header.header .search{
  border: none;
}
header.header .search button{
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
}
header.header .search .form-control{
  padding-left: 0;
}
.tt-title-with-icon-link{
  transition: all 0.3s ease-in-out;
  display: inline-block !important;
  width: 100%;
  padding: 18px 15px !important;
}
.tt-menu-content span, .tt-menu-content small{
  color: var(--body-color);
}
.tt-menu-content small{
  opacity: 0.8;
}
.tt-menu-content span i{
  font-size: 20px;
}
.tt-title-with-icon-link:hover{
  background-color: var(--gray-light);
  border-radius: var(--custom-radius);
}
.tt-title-with-icon-link:hover span{
  color: var(--primary);
}
.tt-menu-icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 12px;
  font-size: 16px;
  color: var(--white);
}
.tt-separate-con i{
  font-size: 22px;
  color: var(--primary);
}
.tt-menu-icon.tt-separate-con{
  margin-right: 10px;
}
.tt-menu-content span{
  font-size: 15px;
  font-weight: 500;
  line-height: initial;
  font-family: var(--font-family-monospace);
}
.tt-menu-content small{
  line-height: initial;
}
.tt-menu-content{
  position: relative;
  top: -4px;
}

/*page header or breadcrumb*/
.tt-page-header-info p{
  color: var(--primary-light);
}
.tt-page-header{
  position: relative;
  display: block;
}
.tt-breadcrumb{
  position: absolute;
  right: 15px;
  bottom: -48px;
  background: var(--white);
  border-radius: 4px 4px 0 0;
}
.tt-breadcrumb ol{
  padding: 0.25rem 1.5rem;
  background: transparent;
  margin-bottom: 0;
  position: relative;
}
.tt-breadcrumb ol li a{
  font-family: var(--font-family-monospace);
}
.tt-breadcrumb ol li a,
.tt-breadcrumb ol li.active{
  font-size: 13px;
}
.tt-triangle-right{
  width: 0;
  height: 0;
  border-top: none;
  border-bottom: 34px solid var(--white);
  border-left: 60px solid transparent;
  position: absolute;
  left: -59px;
  bottom: 0;
}
.tt-breadcrumb .breadcrumb-item+.breadcrumb-item::before{
  content: '\f101';
  font-family: "Font Awesome 5 Pro";
  font-size: 12px;
}

section#main-body{
  padding: 60px 0;
}
/*hero section css*/
.tt-hero h1{
  font-size: 3rem;
}
.tt-shape{
  bottom: -2px;
}
.tt-hero-btns{
  margin-top: 2rem;
}
@media (max-width: 1520px){
  .hero-img {
    max-width: 100%;
    height: auto;
  }
}

/*hero two*/
.tt-hero-two .tt-promo{
  margin-bottom: -50px;
}
.tt-hero-two .tt-hero h1 mark{
  background: rgba(0,0,0,0);
  color: var(--warning);
  padding: 0;
}
.tt-hero-two .tt-hero h1 mark:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 12px;
  background: url(../img/curve-line.svg);
  background-repeat: no-repeat;
}
@media (min-width: 320px) and (max-width: 991px){
  .tt-hero-two .tt-promo{
    margin-bottom: 15px;
  }
  .tt-hero-two{
    padding-bottom: 60px;
  }
}


.tt-animation-icon-img {
  position: absolute;
  left: auto;
  right: 24%;
  top: 24%;
  backface-visibility: hidden;
  animation: bounce 1s ease-in-out 0s infinite alternate;
}
@media (max-width: 1520px){
  .tt-animation-icon-img {
    right: 40%;
    top: 18%;
  }
}
@media (min-width: 320px) and (max-width: 568px){
  .tt-animation-icon-img {
    display: none;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

/*promo section css*/
.tt-promo{
  color: var(--body-color);
  font-family: var(--font-family-monospace);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
}
.tt-promo, .tt-promo i{
  transition: all 0.3s ease-in-out;
}
.tt-promo i{
  font-size: 35px;
  color: var(--primary);
}
.tt-promo:hover{
  color: var(--primary);
}
.tt-promo:hover{
  transform: translate3d(0,-3px,0);
  box-shadow: 5px 10px 25px rgba(120, 120, 120, 0.1);
}


/*domain search list*/
.tt-domain-search-wrap p{
  color: var(--primary-light);
}
.tt-domain-list li span{
  color: var(--danger);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family-monospace);
}
.home-domain-search .form-control{
  height: calc(1.95em + 0.95rem + 2px);
}

.home-domain-search .tld-logos li{
  background-color: var(--primary-light);
  padding: 2px 10px;
  border-radius: 4px;
}
/*pricing section css*/
.tt-price-single{
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}
.tt-price-single:hover{
  box-shadow: 0 20px 40px -4px rgba(120, 120, 120, 0.16);
}
.tt-price{
  color: var(--danger);
}
.tt-price span{
  font-size: 14px;
  color: var(--body-color);
}
.tt-popular-badge{
  background: var(--danger);
  color: var(--white);
  font-size: 13px;
  left: 0;
  top: 0;
  padding: 0 10px;
  line-height: inherit;
  border-top-left-radius: var(--custom-radius);
  width: 85px;
  height: 27px;
}
.tt-popular-badge:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 10px solid var(--white);
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
}


/*account links*/
.tt-account{
  margin-top: 15px;
  margin-bottom: -50px;
  display: block;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-family: var(--font-family-monospace);
  font-size: 15px;
  box-shadow: 5px 10px 25px rgba(120, 120, 120, 0.1);
  border-top: none;
  color: var(--body-color);
}
@media (min-width: 320px) and (max-width: 991px){
  .tt-account{
    margin-top: 0;
    margin-bottom: 15px;
  }
}
.tt-account:hover{
  color: var(--primary);
  transform: translate3d(0,-3px,0);
}
.tt-account img{
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

/*services section*/
.tt-service-single{
  position: relative;
  display:block;
  height: auto;
}
.tt-service-single:before,
.tt-service-single:after{
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  background: linear-gradient(45deg,rgba(56,189,248,0), var(--primary) 32.29%, rgba(256,66,56,.41) 67.19%,rgba(236,72,153,0));
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border-radius: var(--custom-radius);
  transition: all 0.3s ease-in-out;
  opacity: 0.2;
  filter: blur(1px)
}
.tt-service-info{
  position: relative;
  background: var(--primary-darker);
  padding: 32px;
  color: var(--white);
  border-radius: var(--custom-radius);
  z-index: 2;
  height: 100%;
  box-shadow: 0 1px 4px 0 rgba(19,98,248, 0.3);
}
.tt-service-info a, .tt-domain-search-wrap a{
  color: var(--gray-light);
  opacity: 0.9;
}
.tt-service-info a:hover, .tt-domain-search-wrap a:hover{
  opacity: 1;
}


.tt-service-single:hover:before,
.tt-service-single:hover:after{
  opacity: 1;
  filter: blur(2px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
/*services two*/
.tt-services-two .tt-service-info{
  background-color: var(--gray-light);
  box-shadow: none;
  color: var(--body-color);
}

.tt-services-two .tt-service-info a, .tt-services-two .tt-domain-search-wrap a{
  color: var(--primary);
}

/*testimonial css*/
.tt-testimonial-author img{
  border: 2px solid var(--border-color);
}
.tt-designation{
  font-size: 14px;
}
.custom-slider .swiper-pagination{
  bottom: -15px;
}


/*news and announcements*/
.tt-announcement-single{
  background-color: var(--white);
  padding: 35px;
  margin-top: 15px;
}
.tt-article-heading h3 a{
  color: var(--heading-color);
  font-size: 18px;
  height: 26px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.tt-article-heading h3 a:hover{
  color: var(--primary);
}
.tt-article-heading .tt-date{
  font-size: 13px;
}

.tt-announcement-single p{
  font-size: 15px;
  height: 109px;
  line-height: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.tt-read-more{
  font-family: var(--font-family-monospace);
  font-weight: 500;
  font-size: 14px;
}

.tt-read-more i {
  vertical-align: middle;
  transition: all .3s ease-in-out;
  margin-left: 8px;
}
.tt-read-more:hover i{
  transform: translateX(3px);
  margin-left: 12px;
}
.tt-read-more:hover, .tt-read-more:hover i{
  color: var(--primary);
}


/*cta support css*/
.tt-cta-img{
  margin-top: -60px;
}
.tt-support-item{
  font-family: var(--font-family-monospace);
  padding: 22px 20px;
  display: block;
  text-align: center;
  width: 170px;
  margin-top: 12px;
  position: relative;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  color: var(--body-color);
}
.tt-support-item span{
  font-size: 14px;
  display: block;
  margin-top: 15px;
}
.tt-support-item:hover{
  text-decoration: none;
  transform: translate3d(0,-3px,0);
  color: var(--primary);
}

/*footer section css*/
.footer.tt-footer .tt-footer-top{
  padding: 60px 0;
}
.tt-footer-menu li a{
  display: block;
  font-size: 14px;
  font-family: var(--font-family-monospace);
  color: var(--primary-light);
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.tt-footer-menu li a:hover{
  opacity: 1;
}
.tt-footer-bottom{
  border-top: 1px solid var(--border-dark-color);
}
.modal-localisation .modal-content{
  background-color: var(--white);
}
.modal-localisation .modal-body{
  background-size: 50%;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.modal-localisation .item-selector .item.active{
  background-color: transparent;
  border-color: transparent;
  color: var(--primary);
}
.modal-localisation .item-selector .item{
  transition: all 0.3s ease-in-out;
  border:none;
  text-align: left;
  color: var(--body-color);
}
.modal-localisation .item-selector .item:hover{
  background: transparent;
}
.modal-localisation .item-selector .item:before{
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  background-color: var(--body-color);
  opacity: 0.6;
}
.modal-localisation .item-selector .item:hover:before, .modal-localisation .item-selector .item.active:before{
  background-color: var(--primary);
}

/*==========================
inner pages style start
============================*/

/*sidebar style*/
.mc-promo-login .panel-heading .sidebar h3,
.mc-promo-manage .panel-heading .sidebar h3,
.promo-container .header .sidebar h3,
.sidebar .card-title,
.sidebar .mc-promo-login .panel-heading h3,
.sidebar .mc-promo-manage .panel-heading h3,
.sidebar .promo-container .header h3,
#order-standard_cart .cart-sidebar h3,
#order-standard_cart .sidebar-collapsed h3{
  font-weight: 500;
}
.mc-promo-login .panel-heading .sidebar h3 i,
.mc-promo-manage .panel-heading .sidebar h3 i,
.promo-container .header .sidebar h3 i,
.sidebar .card-title,
.sidebar .mc-promo-login .panel-heading h3 i,
.sidebar .mc-promo-manage .panel-heading h3 i,
.sidebar .promo-container .header h3 i,
#order-standard_cart .cart-sidebar h3 i,
#order-standard_cart .sidebar-collapsed h3 i{
  font-weight: 500;
}
.sidebar .collapsable-card-body a{
  color: var(--body-color);
}
.card-sidebar{
  border: none;
  box-shadow: 0 12px 24px -4px rgba(145, 158, 171, 0.16);
  background: transparent;
}
.sidebar .card-header, .sidebar .card-footer{
  background-color: var(--gray-light);
}
.sidebar .card-sidebar .card-header .card-title{
  font-size: 14px;
  color: var(--primary);
}
.sidebar .card-header{
  border-bottom: none;
  background-color: var(--primary-light);
}
.sidebar .card-footer{
  border-top: none;
  background: transparent;
}

.sidebar .list-group-item{
  border-left: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.sidebar .list-group-item.active, .sidebar .list-group-item.active:focus, .sidebar .list-group-item.active:hover{
  background-color: transparent;
  color: var(--primary);
  border-color: var(--gray-light);
  border-left-color: var(--primary);
}
.list-group-item-action:focus, .list-group-item-action:hover{
  background-color: transparent;
  color: var(--primary) !important;
}
.sidebar .list-group{
  font-size: 14px;
  font-family: var(--font-family-monospace);
}
.list-group-item.active{
  background-color: var(--primary);
  border-color: var(--primary);
}
.list-group-item{
  border: 1px dashed var(--border-color);
}
#order-standard_cart .cart-sidebar .list-group-item{
  padding: 6px 15px;
}
/*news article*/
.tt-news-wrap{
  border: 1px solid var(--border-color);
}
.tt-news-wrap .alert{
  border: none;
  margin-bottom: 0;
}
.tt-news-wrap .tt-news-single{
  margin-bottom: 0;
  border-left: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.tt-news-wrap .tt-news-single:hover{
  border-left: 2px solid var(--primary);
  background-color: var(--gray-light);
}
.tt-news-wrap .tt-news-single article{
  padding: 0;
  border:none;
  background: transparent;
}
.tt-news-single:not(:last-of-type){
  border-bottom: 1px solid var(--border-color);
}

/*domain pricing list table*/
.tld-filters a.badge-secondary:focus,
.tld-filters a.badge-secondary:hover{
  background-color: var(--gray-light);
  color: var(--body-color) !important;
}
.tld-filters a.badge-secondary{
  background-color: var(--gray-light);
  padding: 6px 12px;
  color: var(--body-color);
}
.tld-filters a.badge-secondary.badge-success{
  background-color: var(--primary);
  color: var(--primary-light) !important;
}
.tld-filters a.badge-secondary:focus{
  box-shadow: none;
}
table.dataTable{
  border-collapse: collapse !important;
}
.dataTables_wrapper table.table-list{
  border: 1px solid var(--border-color);
}
.dataTables_length label .form-control{
  padding: 0.25rem 1.5rem 0.25rem 0.5rem;
}
table.table-list tbody td{
  font-size: 13px;
  line-height: 19px;
  color: var(--body-color);
  transition: all 0.3s ease-in-out;
  font-family: var(--font-family-monospace);
}
table.table-list tbody td:not(:first-of-type){
  text-align: center;
}
.table-list>tbody>tr>td a.border-left{
  text-align: left;
  color: var(--body-color);
}
table.table-list tbody td:first-of-type{
  font-size: 14px;
  font-weight: 500;
}
.table-list>tbody>tr:hover>td{
  background-color: var(--primary-light);
}
table.table-list tbody td small{
  display: block;
  font-size: 11px;
  line-height: initial;
  opacity: 0.9;
}
.dataTables_wrapper table.table-list thead th{
  font-family: var(--font-family-monospace);
  border-bottom: 0;
  background-color: var(--gray-light);
  font-weight: 500;
  color: var(--body-color);
  font-size: 13px;
}
.dataTables_wrapper table.table-list thead th.sorting_asc,
.dataTables_wrapper table.table-list thead th.sorting_desc{
  background-color: var(--gray-light);
}

table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_asc_disabled,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting_desc_disabled,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_asc_disabled,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting_desc_disabled{
  padding-right: 0;
}
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before{
  font-size: 20px;
  right: 4px;
}

#domainForm .btn-group.tt-button-group{
  width: 100%;
}
#domainForm .btn-group.tt-button-group .btn-group .dropdown-menu{
  padding: 0;
  left: auto !important;
  right: 0;
}
#domainForm .btn-group.tt-button-group .btn-group .dropdown-menu .dropdown-item{
  font-size: 13px;
}
  /*support ticket*/
.md-editor .btn{
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
}
.md-editor .btn span{
  color: var(--body-color);
  opacity: 0.7;
}
.md-editor .btn.btn-primary{
  background-color: transparent;
  border-color: var(--border-color);
  color: var(--body-color);
}
.view-ticket .posted-by{
  background-color: var(--gray-light);
}
.view-ticket .card-body{
  border-color: var(--border-color);
}
/*knowledge base css*/
.tt-kb-search{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.tt-search-field{
  position: relative;
  flex: 1;
}
.tt-kb-search>*+* {
  margin-left: 15px;
}
.tt-search-field i{
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 16px;
}
.tt-search-field .form-control{
  padding-left: 38px;
}
.tt-kb-search .form-control{
  height: calc(2.45em + .75rem + 2px);
}
.tt-kb-search .form-control:focus{
  border-color: var(--primary);
}
.tt-kb-search input::placeholder{
  font-size: 14px;
}

.kb-category a{
  color: var(--body-color);
}
.kb-category a .h6{
  color: var(--heading-color);
}
.kb-category a:hover{
  background-color: var(--primary-light);
}
.kb-category a button, .kb-article-item button{
  border: none;
  background: transparent;
  color: var(--primary);
}
.kb-category a button:focus, .kb-article-item button:focus{
  outline: none;
}
.kb-article-item{
  font-family: var(--font-family-monospace);
  transition: all 0.3s ease-in-out;
}
.kb-article-item:hover{
  background-color: var(--primary-light);
}
/*affiliate page*/
.affiliate-stat{
  border-radius: var(--custom-radius);
  padding: 20px;
}
.affiliate-stat i{
  float: none;
  font-size: 2.5rem;
}
.affiliate-stat span{
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-family-monospace);
  margin-top: 10px;
}
.affiliate-stat small{
  font-size: 15px;
}

/*login registration reset password form css*/
.tt-registration-form .card-body{
  overflow: hidden;
}
.tt-auth-wrap{
  background-color: var(--gray-light) !important;
  min-height: 100vh !important;
  display: flex;
  align-items: center;
  width: 100%;
}
.tt-form-wrap{
  margin: 0 auto;
}
.tt-form-wrap form{
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tt-form-wrap .tt-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  background: var(--white);
}
@media (max-width: 991px){
  .tt-form-wrap .tt-form-container{
    display: block;
  }
}


.tt-form-wrap .tt-form-container .tt-form-content,
.ugf-container-wrap .ugf-container .tt-testimonial{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 50px 50px;
}
.tt-form-content .form-group label,
.tt-contact-form .form-group label,
.modal-body .form-group label,
.tt-custom-card .form-group label{
  font-family: var(--font-family-monospace);
  font-weight: 500;
}
.tt-form-content .form-group .form-control,
.tt-form-content .input-group-text{
  background-color: var(--gray-light);
}
.tt-form-content .form-group .form-control:focus{
  border-color: var(--border-color);
}
.tt-form-content .input-group-text{
  border-color: var(--border-color);
}
.tt-form-content .input-group-text i, .tt-form-content .btn-reveal-pw i{
  color: var(--primary);
}
.tt-form-content .btn-reveal-pw{
  background-color: var(--gray-light);
  border-color: var(--border-color);
  border-image: none;
  border-style: solid;
  border-width: 1px;
}
.tt-form-content .btn-reveal-pw:hover{
  background-color: var(--gray-light);
  border-color: var(--gray-light);
}
.tt-login-registration-testimonial{
  position: relative;
  display: block;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  padding: 32px;
}
@media (min-width: 991px){
  .tt-testimonial-slider{
    position: absolute;
    max-width: calc(100% - 65px);
    bottom: 30px;
  }

}
.tt-login-testimonial{
  background-color: rgba(255,255,255,0.75);
}
.custom-slider-2 .swiper-button-next, .custom-slider-2 .swiper-button-prev{
  bottom: 15px;
  top: auto;
}
.custom-slider-2 .swiper-button-next:after,
.custom-slider-2 .swiper-button-prev:after{
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-light);
}
.custom-slider-2 .swiper-button-prev, .custom-slider-2 .swiper-rtl .swiper-button-next {
  right: 35px;
  left: auto;
}
#registration .field, #registration .form-control::placeholder,
#registration .field, #registration .field::placeholder{
  font-size: 13px;
}
#registration .field, #registration .form-control,
#registration .prepend-icon .field-icon{
 height: 47px;
  border-color: var(--border-color);
}
#registration .prepend-icon .field-icon{
  line-height: 47px;
}
#registration .field-icon i{
  color: var(--primary);
}
.bootstrap-switch{
  border-color: var(--border-color);
  background-color: var(--primary-light);
}
.bootstrap-switch.bootstrap-switch-focused{
  box-shadow: none;
}

.progress{
  height: 6px;
}
#inputCaptcha.form-control{
  height: 30px;
}
.label{
  font-family: var(--font-family-monospace);
  font-weight: 500;
}
#registration .sub-heading{
  text-align: inherit;
  border: none;
}
#registration .sub-heading span{
  background: transparent;
  font-family: var(--font-family-monospace);
  padding: 0;
  top: auto;
  font-weight: 500;
  color: var(--heading-color);
}
.social-signin-btns{
  text-align: inherit;
  margin: 25px 0;
}
@media (max-width: 480px){
  .tt-form-wrap .tt-form-container .tt-form-content{
    padding: 30px;
  }
  .tt-login-registration-testimonial{
    padding: 0;
  }
}

/*Or text css*/
.tt-registration-form .sub-heading{
  display: none;
}
.tt-or-text{
  display: flex;
  align-items: center;
  font-size: 16px;
}
.tt-or-text:not(:empty):before {
  margin-right: 1rem;
}
.tt-or-text:not(:empty):after {
  margin-left: 1rem;
}
.tt-or-text:after, .tt-or-text:before {
  content: "";
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid var(--border-color);
}
.tt-login-or.tt-or-text:not(:empty):before{
  display: none;
}
.tt-login-or.tt-or-text:not(:empty):after{
  margin-left: 0.5rem;
}
  /*support ticket*/
.view-ticket .attachment-list li{
  width: 120px
}
.view-ticket .attachment-list li figure{
  line-height: 70px;
  font-size: 2.5rem;
}
.tts-support-department h6 a{
  color: var(--body-color);
}
.view-ticket .requestor-badge{
  padding: 4px 10px;
  font-size: 10px;
  font-weight: 400;
}
/*client area home*/
.client-home-cards .card-body,
.client-home-cards .mc-promo-login .content,
.client-home-cards .mc-promo-manage .content,
.mc-promo-login .client-home-cards .content,
.mc-promo-manage .client-home-cards .content{
  max-height: 250px;
}

.tt-single-box{
  display: flex !important;
  align-items: center;
}
.tiles .tile{
  padding: 20px 15px;
  border: 1px dashed var(--border-color) !important;
  background-color: var(--gray-light);
}
.tiles .tile i{
  font-size: 28px;
  right: 15px;
  top: 20px;
}
.tiles .tile .title{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
}
.tiles .tile .stat{
  margin-top: 0;
  font-family: var(--font-family-monospace);
  color: var(--body-color);
  font-size: 35px;
}
.tiles .tile:hover{
  background-color: var(--primary-light);
}
.tiles .tile:hover i{
  font-size: 28px;
}
.tiles .tile:hover i, .tiles .tile:hover .stat{
  color: var(--primary);
}

.promo-container{
  border-color: var(--border-color);
  margin-bottom: 20px;
}
.promo-container .header{
  padding: 15px;
}
.promo-container .carousel-control-next-icon, .promo-container .carousel-control-prev-icon{
  width: 15px;
  position: relative;
  top: -5px;
}
.promo-banner h3 {
  font-size: 18px;
  line-height: inherit;
  font-weight: 500;
}
.promo-banner h4 {
  font-size: 16px;
  font-weight: 400;
}

.div-service-name>span:not(.text-domain){
  font-family: var(--font-family-monospace);
  font-weight: 500 !important;
}
.primary-content .card, .primary-content .mc-promo-login, .primary-content .mc-promo-manage{
  margin-bottom: 20px;
}
.tt-client-home-cards .card{
  border-width: 1px;
}
.client-home-cards.tt-client-home-cards .list-group{
  border-top: none !important;
}

.tt-client-home-cards .card-header .float-right a.btn{
  padding: 0.25rem 0.5rem;
}
.tt-client-home-cards form .form-control{
  padding: 4px;
}
.tt-client-home-cards form .btn, .actions .btn{
  padding: 0.25rem .75rem;
}
.tt-client-home-cards.client-home-cards .list-group .list-group-item{
  padding: 12px 15px;
}
.panel-mc-sso, .tt-client-home-cards.client-home-cards .card-body{
  padding: 15px;
}
.tt-client-home-cards .card-header h3, .panel .panel-heading h3{
  font-size: 14px !important;
}
.panel .card-header{
  background-color: var(--primary-light);
  border-bottom: none;
}
.cart-sidebar .panel .panel-heading h3.panel-title{
  color: var(--primary);
}
.tt-client-home-cards.client-home-cards .card-header{
  border-bottom: 1px solid var(--border-color);
}
.mc-promo-login .logo, .mc-promo-manage .logo{
  width: 90px;
  height: 90px;
}
.mc-promo-login .logo img, .mc-promo-manage .logo img{
  max-width: 80px;
  max-height: 80px;
}

.cpanel-package-details h4, div.product-details div.product-icon h4{
  font-size: 16px;
}

.tt-overview h5, .tt-overview h3, div.product-details h4{
  font-size: 16px;
}
div.product-details div.product-icon{
  background-color: var(--gray-light);
}
div.product-details div.product-icon .fa-stack{
  margin-bottom: 15px;
}
div.product-details div.product-icon h3{
  font-size: 18px;
}

/*mass pay*/

tr.masspay-total td{
  background-color: var(--gray-light);
}


/*addon order*/

.store-order-container form> .row{
  align-items: center;
}
.store-order-container .payment-term h4{
  font-size: 18px;
}
.store-order-container .store-domain-tab-content{
  background-color: var(--gray-light) !important;
  border: 1px solid var(--border-color);
}
.store-order-container .store-domain-tabs.nav-tabs{
  border: none;
}
.store-order-container .btn{
  font-size: 15px;
}
.store-order-container .store-domain-tabs li a{
  padding: 6px 15px !important;
}
.responsive-tabs-sm .nav-item a:hover{
  border-bottom: 1px solid var(--border-color);
}



/* light and dark mode css */
.tt-color-switch{
  position: fixed;
  right: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #ffffff;
  z-index: 99999;
  top: 76px;
}

.tt-theme-light {
  display: block;
}
.tt-theme-dark {
  display: none;
}
[data-bs-theme="dark"] .tt-theme-light{
  display: none;
}
[data-bs-theme="dark"] .tt-theme-dark{
  display: block;
}
 
[data-bs-theme="dark"] header.header,
[data-bs-theme="dark"] body,
[data-bs-theme="dark"] .bg-white,
[data-bs-theme="dark"] .dropdown-menu,
[data-bs-theme="dark"] .card,
[data-bs-theme="dark"] .tt-breadcrumb ol,
[data-bs-theme="dark"] .tt-form-wrap .tt-form-container,
[data-bs-theme="dark"] .tt-login-testimonial,
[data-bs-theme="dark"] .tt-group-head,
[data-bs-theme="dark"] .landing-page.ssl .validation-levels .item,
[data-bs-theme="dark"] .landing-page.mail-services .product-options .item,
[data-bs-theme="dark"] .landing-page .tab-content,
[data-bs-theme="dark"] .landing-page .nav-tabs > li > a, 
[data-bs-theme="dark"] .landing-page .nav-tabs > li > a:focus,
[data-bs-theme="dark"] #order-standard_cart .summary-container,
[data-bs-theme="dark"] #order-standard_cart .sub-heading span,
[data-bs-theme="dark"] #order-standard_cart .sub-heading-borderless span,
[data-bs-theme="dark"] .sidebar .list-group-item .badge,
[data-bs-theme="dark"] .landing-page.ssl .detailed-info,
[data-bs-theme="dark"] .domain-checker-container .input-group-box,
[data-bs-theme="dark"] .domain-pricing .tld-row.highlighted,
[data-bs-theme="dark"] .landing-page.sitebuilder .intro,
[data-bs-theme="dark"] .landing-page.sitebuilder,
[data-bs-theme="dark"] .home-domain-search .input-group-wrapper,
[data-bs-theme="dark"] .kb-category .bg-primary-light{
  background-color: var(--dark) !important;
}


[data-bs-theme="dark"] .bg-white.tt-promo,
[data-bs-theme="dark"] .bg-white.tt-price-single,
[data-bs-theme="dark"] .bg-white.tt-testimonial-item,
[data-bs-theme="dark"] .bg-white.tt-account,
[data-bs-theme="dark"] .card.kb-category,
[data-bs-theme="dark"] .card.kb-category a:hover,
[data-bs-theme="dark"] .tt-announcement-single,
[data-bs-theme="dark"] .list-group-item,
[data-bs-theme="dark"] .modal-localisation .modal-content,
[data-bs-theme="dark"] .landing-page.mail-services .product-options,
[data-bs-theme="dark"] #order-standard_cart .field,
[data-bs-theme="dark"] #order-standard_cart .form-control,
[data-bs-theme="dark"] #registration .field,
[data-bs-theme="dark"] #registration .form-control,
[data-bs-theme="dark"] .card-body.bg-primary-light,
[data-bs-theme="dark"] .table-list>tbody>tr>td,
[data-bs-theme="dark"] .panel .card-header,
[data-bs-theme="dark"] .landing-page.ssl .detailed-info .card-body,
[data-bs-theme="dark"] .landing-page.weebly .weebly-lite-plan,
[data-bs-theme="dark"] #order-standard_cart .products .product,
[data-bs-theme="dark"] .landing-page.sitebuilder .features,
[data-bs-theme="dark"] .form-control,
[data-bs-theme="dark"] .pagination .page-link,
[data-bs-theme="dark"] .landing-page.xovinow .pricing .plan-feature.row-highlight{
  background-color: var(--gray-light) !important;
}

[data-bs-theme="dark"] .sidebar .list-group-item,
[data-bs-theme="dark"] .tt-news-wrap,
[data-bs-theme="dark"] .tt-news-single,
[data-bs-theme="dark"] #order-standard_cart .cart-sidebar .list-group-item,
[data-bs-theme="dark"] .home-domain-search .input-group-wrapper{
  border-color: var(--dark) !important;
}

[data-bs-theme="dark"] .tt-popular-badge:after,
[data-bs-theme="dark"] .tt-featured-badge:after{
  border-right-color: var(--gray-light) !important;
}
[data-bs-theme="dark"] .tt-featured-badge:after{
  border-right-color: var(--dark) !important;
}
[data-bs-theme="dark"] .tt-triangle-right{
  border-bottom-color: var(--dark) !important;
}

[data-bs-theme="dark"] .text-dark,
[data-bs-theme="dark"] .landing-page.ssl .standout-2,
[data-bs-theme="dark"] .landing-page.ox .stand-out h2{
  color: var(--heading-color) !important;
}
[data-bs-theme="dark"] #order-standard_cart .cart-sidebar .list-group-item,
[data-bs-theme="dark"] .landing-page .light-grey-bg,
[data-bs-theme="dark"] .sidebar .list-group-item .badge,
[data-bs-theme="dark"] .tt-notification button,
[data-bs-theme="dark"] .landing-page.ox .stand-out,
[data-bs-theme="dark"] .landing-page.ox .pricing table,
[data-bs-theme="dark"] .landing-page .content-block.pricing .btn-group button.btn.active,
[data-bs-theme="dark"] .list-group-item-action,
[data-bs-theme="dark"] .dropdown-item,
[data-bs-theme="dark"] .domain-promo-box p,
[data-bs-theme="dark"] .table,
[data-bs-theme="dark"] .text-black-50,
[data-bs-theme="dark"] .landing-page.xovinow .pricing .plan .plan-name,
[data-bs-theme="dark"] .landing-page.xovinow .pricing .plan .plan-price,
[data-bs-theme="dark"] .landing-page.xovinow .pricing .plan-feature,
[data-bs-theme="dark"] .landing-page.xovinow .pricing .money-back{
  color: var(--body-color) !important;
}


[data-bs-theme="dark"] .tt-service-info a, 
[data-bs-theme="dark"] .tt-domain-search-wrap a,
[data-bs-theme="dark"] #order-standard_cart .cart-sidebar .list-group-item.active, 
[data-bs-theme="dark"] #order-standard_cart .cart-sidebar .list-group-item.active:focus, 
[data-bs-theme="dark"] #order-standard_cart .cart-sidebar .list-group-item.active:hover,
[data-bs-theme="dark"] .list-group-item.kb-article-item:hover{
  color: var(--primary) !important;
}

[data-bs-theme="dark"] #order-standard_cart .field,
[data-bs-theme="dark"] #order-standard_cart .form-control,
[data-bs-theme="dark"] #registration .field,
[data-bs-theme="dark"] #registration .form-control,
[data-bs-theme="dark"] .card.kb-category,
[data-bs-theme="dark"] .card,
[data-bs-theme="dark"] .tt-main-header .dropdown-menu,
[data-bs-theme="dark"] .dropdown-divider,
[data-bs-theme="dark"] .tt-header.affix,
[data-bs-theme="dark"] .dataTables_wrapper table.table-list,
[data-bs-theme="dark"] .table td,
[data-bs-theme="dark"] .table th,
[data-bs-theme="dark"] .landing-page.ox .pricing td:not(.no-border),
[data-bs-theme="dark"] .landing-page.ox .pricing th,
[data-bs-theme="dark"] .view-ticket .attachment-list li span,
[data-bs-theme="dark"] .tt-domain-list-wrap,
[data-bs-theme="dark"] .domain-pricing .tld-row,
[data-bs-theme="dark"] .form-control,
[data-bs-theme="dark"] #order-standard_cart .addon-promo-container,
[data-bs-theme="dark"] .pagination .page-link{
  border-color: var(--gray) !important;
}
[data-bs-theme="dark"] #order-standard_cart .field:focus,
[data-bs-theme="dark"] #order-standard_cart .form-control:focus,
[data-bs-theme="dark"] #registration .field:focus,
[data-bs-theme="dark"] #registration .form-control:focus,
[data-bs-theme="dark"] .form-control:focus{
  border-color: var(--primary-dark) !important;
}
[data-bs-theme="dark"] #order-standard_cart .order-summary .btn-continue-shopping{
   color: inherit;
}

[data-bs-theme="dark"] .landing-page.ox .pricing table tr:nth-child(even) td:first-child,
[data-bs-theme="dark"] .md-editor>.btn-toolbar,
[data-bs-theme="dark"] .md-editor .md-footer,
[data-bs-theme="dark"] .md-editor>.md-header{
  background-color: transparent !important;
}


[data-bs-theme="dark"] .md-editor>.md-preview, 
[data-bs-theme="dark"] .md-editor>textarea.markdown-editor{
  background-color:  var(--gray-light) !important;
  border-color: transparent !important;
  color: var(--body-color);
}
[data-bs-theme="dark"] .md-editor{
  border-color: var(--gray) !important;
}