@font-face {
    font-display: swap;
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url('../indie-flower/indie-flower-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../indie-flower/indie-flower-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../indie-flower/indie-flower-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../indie-flower/indie-flower-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../indie-flower/indie-flower-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../indie-flower/indie-flower-latin-regular.svg#IndieFlower') format('svg'); /* Legacy iOS */
}